<%= form_with model: @book, local: true do |f| %>
  <% if @book.errors.any? %>
    <div>
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <% if @book.new_record? %>
      <%= f.submit "Create Book" %>  <!-- 新規作成 -->
    <% else %>
      <%= f.submit "Update Book" %>  <!-- 更新 -->
    <% end %>
  </div>
<% end %>
